/* roboto-regular - latin */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-500 - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: local(''),
        url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-700 - latin */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

body, html {      
   box-sizing: border-box;
   scroll-behavior: smooth; 
   font-family: 'Roboto', Times, serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 2rem;
   color:#829985;  
   margin: 0;
   padding: 0;
}


body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
 }

/* Header +hero start */

.header {
background:#829985;  
height: 85px; 
position: sticky;
}

.container {
   margin: 0 auto;   
   max-width: 1440px; 
   padding: 0 10px;      
}

/* .header-container{
   height: 85px;
} */

.nav-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
   align-items: center;
   list-style-type: none;
   padding: 30px 0;
}

.nav-item {
   margin-right: 20px;
   color: #fff;
}

.nav-item:last-child {
   margin-right: 0;   
}

.nav-link {
   position: relative;
   text-decoration: none;   
   color: inherit;   
}


.nav-link:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background-color: #fff;     
   transform: scale(0);
   transition: 0.5s;  
   transform-origin: left;  
}


.nav-link:hover:after{   
   transform: scale(1);
}

/* burger start============================================= */
*, ::before, ::after{
   
   margin: 0;  
   box-sizing: border-box;
 }
 a{
   color: currentColor;
   text-decoration: none;
 } 
 .toggle-btn{
   position: fixed;
   top: 3%;
   right: 5%;
   width: 50px;
   height: 50px;   
   background-color: transparent;   
   border: none;
   cursor: pointer;
   z-index: 99;
   display: none;
 }
 .toggle-btn .line{
   display: block;
   width: 70%;
   height: 3px;
   background-color: grey;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: transform 0.2s;   
 }

 .toggle-btn .line:first-of-type{
   top: 35%;
 }
 .toggle-btn .line:nth-of-type(2){
   top: 50%;
 }
 .toggle-btn .line:last-of-type{
   top: 65%;
 }
 
 .toggle-btn.active .line:first-of-type{
   top: 50%;
   transform: translate(-50%,-50%) rotate(45deg);
 }
 .toggle-btn.active .line:nth-of-type(2){
   opacity: 0;
 }
 .toggle-btn.active .line:last-of-type{
   top: 50%;
   transform: translate(-50%,-50%) rotate(-45deg);
 } 
 
 .navigation{
   position: fixed;
   top: 0;
   left: 0;   
   width: 100vw;
   height: 100vh;   
   display: flex;
   justify-content: center;
   align-items: center;   
   display: none;     
 }

 .navigation-active{
   display: block;
   right: 0;  
   background-color: rgba(199, 244, 247, 0.6); 
   transition: all 0.5s;   
 }

 .navigation ul{
   width: 100%;
   height: 100%;   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   list-style: none;
   font-size: 25px;
   line-height: 200%;
   font-family: sans-serif;
   color: grey;   
 }



 .navigation, .navigation ul li{
   transform: translateX(100vw);
   transition: 0.5s cubic-bezier(.48,-0.66,.69,.54); 
   z-index: 80;  
 }
 .navigation ul li:nth-of-type(1){
   transition-delay: 0s;
 }
 .navigation ul li:nth-of-type(2){
   transition-delay: 0.1s;
 }
 .navigation ul li:nth-of-type(3){
   transition-delay: 0.2s;
 }
 .navigation ul li:nth-of-type(4){
   transition-delay: 0.3s;
 }
 .navigation ul li:nth-of-type(5){
   transition-delay: 0.4s;
 }
 .navigation ul li:nth-of-type(6){
   transition-delay: 0.5s;
 }
 .navigation ul li:nth-of-type(7){
   transition-delay: 0.6s;
 }
 .navigation ul li:nth-of-type(8){
   transition-delay: 0.7s;
 }
 
 .toggle-btn.active + .navigation ul li{
   transform: translateX(0);
 }
 .toggle-btn.active + .navigation{
   transform: translateX(0);
 }



/* burger end
   ========================================== */

@media (max-width: 705px){
   .navigation{
      display: block; 
      height: 100vw;         
   }
   .nav-list{
      display: none;      
   }
   .toggle-btn {
      display: block;
   }
   .nav-link:after{
      background-color: grey;
   }
}

.title-profile {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 50px 30px 35px;
   border-bottom: 15px solid #d7d1c9;
}

@media (max-width: 705px){
   .title-profile{
      flex-direction: column;
   }
}

.title-foto {
width: 160px;
height: auto;  
margin: 20px; 
box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.5);
object-fit: contain;
border-radius: 5px;
}



.name-hero {
font-weight: 400;
position: relative;
}

.name-hero:after {
   content: "";
   position: absolute;
   left: 51px;
   top: 40px;
   width: 50%;
   height: 2px;
   background-color: #829985;     
  }

.title-info {
   font-size: 20px;
}

/* .line {
   width: 50%;
   background-color: #dbe0dc;
} */


/* Header + hero end */

/* main start  */



/* section contact  */

.title-section {
   font-weight: 500;
   font-size: 20px;
}

.contact-item {
   list-style-type: none; 
   position: relative;
   padding-bottom: 10px;
}

.contact-item:nth-child(1):before {
position: absolute;
content: "";
top:3px;
left: -27px;
width: 25px;
height: 25px;
background-size: contain;
background-image: url(../image/png/place_icon.png);
}

.contact-item:nth-child(2):before {
   position: absolute;
   content: "";
   top:5px;
   left: -25px;
   width: 21px;
   height: 21px;
   background-image: url(../image/png/mail_send_icon.png);
   }

   .contact-item:nth-child(3):before {
      position: absolute;
      content: "";
      top:5px;
      left: -25px;
      width: 21px;
      height: 21px;
      background-image: url(../image/png/github_icon.png);
      }

      .contact-item:nth-child(4):before {
         position: absolute;
         content: "";
         top:5px;
         left: -27px;
         width: 21px;
         height: 21px;
         background-image: url(../image/png/phone_icon.png);
         }  
         
         .contact-item:nth-child(5):before {
            position: absolute;
            content: "";
            top:5px;
            left: -25px;
            width: 21px;
            height: 21px;
            background-image: url(../image/png/discord_con.png);
            }
 /* section contact end  */

 .project-list{
   line-height: 2rem;
 }

 .main-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    column-gap: 10px; 
    width: 100%;   
 }
 
 section {
   width: 49%;
   border-bottom: olivedrab 2px solid;
 }

@media(max-width:770px){
   .main-container{
      column-gap: 0px; 
      row-gap: 10px;
   }
   section{
      width: 100%;      
   }
   
   .container{
      margin: 0 auto;
   }
}

/* main end */

/* footer start  */

.footer-container {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 10px;
   background: #829985;  
   padding: 20px 10px; 
   border: 1px solid #000;
}

.icon {
   width: 100px;
   height: 40px;
   /* position: relative; */
   transition: 1s;
   }

   .icon:hover{
       z-index: 10;
       transform: scale(1.03);
   }

/* .link-to-gh {
   width: 10%;
} */
.git{
   width: 40px;
   height: 40px;
}

.copy {
   color: #000;
}

a {
   text-decoration: none;   
}

.git:hover{
   transition: 1s;
   transform: scale(0.93);
}






